<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	 http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
	 	http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context-4.3.xsd">
		
	<context:component-scan base-package="com.gd" />
	
	<!--internally spring creates id as id="com.gd.model.Intel#0"-->
	
	<bean class="com.gd.model.Intel">
		<property name="modelName" value="Intel i3" />
		<property name="cacheMemory" value="12MB" />
		<property name="price" value="2300.00" />
		<property name="numberOfCores" value="5 Cores" />
	</bean>
</beans>
